# Exam - Python for Finance - 22/02/2022

## Exercise 1:

- Like - The like which the user did.
- LikesReceived - Likes received by the user
- Mobile-Likes - Likes which user did on mobile
- Mobile-LikesReceived - Likes which user receive on mobile.
- D.o.b Date of Birthday
- Tenure - The number of days they have used facebook

In [79]:
import pandas as pd
filename = 'data/data_facebook.csv'
data = pd.read_csv(filename)
data.head()

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

1- Write a Pandas program to detect missing values.

In [54]:
# Tape your code here and comment the result

2- Write a Pandas program to avoid the missing values. (Justify your choice)

In [55]:
# Tape your code here and comment the result

3- Give statistical description of the data.

In [56]:
# Tape your code here and comment the result

4- Write a Pandas program to sort the users by their gender.

In [57]:
# Tape your code here and comment the result

5- Plot the histograms and density of 2-3 variables.

In [58]:
# Tape your code here and comment the result

6- How to deal with outliers ? (Give an example of a chosen variable)

In [59]:
# Tape your code here and comment the result

7.1 - How we can detect relationships between variables ?

7.2 - What can you say about the relationship between tenure and friend count ?

In [60]:
# Tape your code here and comment the result

## Exercise 2:

Here are what each columns in this table mean:

- CUSTID : Identification of Credit Card holder (Categorical)
- BALANCE : Total amount of money that you owe to your credit card company
-  BALANCEFREQUENCY : How frequently the Balance is updated, score between 0 and 1 (1 = frequently updated, 0 = not frequently updated)
-    PURCHASES : Amount of purchases made from account
-    ONEOFFPURCHASES : Maximum purchase amount done in one-go
-    INSTALLMENTSPURCHASES : Amount of purchase done in installment
-    CASHADVANCE : Cash in advance given by the user
-    PURCHASESFREQUENCY : How frequently the Purchases are being made, score between 0 and 1 (1 = frequently purchased, 0 = not frequently purchased)
-    ONEOFFPURCHASESFREQUENCY : How frequently Purchases are happening in one-go (1 = frequently purchased, 0 = not frequently purchased)
-    PURCHASESINSTALLMENTSFREQUENCY : How frequently purchases in installments are being done (1 = frequently done, 0 = not frequently done)
-    CASHADVANCEFREQUENCY : How frequently the cash in advance being paid
-   CASHADVANCETRX : Number of Transactions made with "Cash in Advanced"
-    PURCHASESTRX : Numbe of purchase transactions made
-    CREDITLIMIT : Limit of Credit Card for user
-    PAYMENTS : Amount of Payment done by user
-    MINIMUM_PAYMENTS : Minimum amount of payments made by user
-    PRCFULLPAYMENT : Percent of full payment paid by user
-    TENURE : Tenure of credit card service for user

In [80]:
import pandas as pd
import numpy as np
filename = 'data/data_creditcard.csv'
data = pd.read_csv(filename)
data.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

### Part 1:

1- Clean the data if there are any missing values

In [62]:
# Your code here

2- Drop the `CUST_ID` column

In [63]:
# Your code here

3- Plot all histograms on the same figure using `distplot` and `subplot` and comment the result
- Expected output:
<img src="all_dist.png" alt="Drawing" style="width: 500px;"/>

In [64]:
# Your code here

4- Plot scatterplot and comment the result between:
- `PURCHASES` and `CREDIT_LIMIT` 
- `BALANCE` and `CREDIT_LIMIT`
- `ONEOFF_PURCHASES` and `CREDIT_LIMIT`
- `INSTALLMENTS_PURCHASES` and `CREDIT_LIMIT`


- Expected output:
<img src="data/creditlimie_scatter.png" alt="Drawing" style="width: 500px;"/>

5- Comment the results of this code

```python
plt.rcParams['figure.figsize'] = (12,8)
sns.countplot(df['TENURE'], palette='rainbow')
plt.title('Counts of Tenures', fontsize = 20)
plt.xlabel('Months')
```

In [65]:
# Your code here

### Part 2: Building `Kmeans` model

1- Use `StandardScaler` to normalize the data

In [66]:
# Your code here

2- Find the optimal number of cluster using the elbow method, and plot the WCSS.

-Expected output:
<img src="data/elbow_method.png" alt="Drawing" style="width: 500px;"/>

3- Choose the optimal number of cluster, build your model and add label to the dataframe

```python
label = kmeans(...)
data['label'] = label
```

In [67]:
# Your code here

4- Plot visual representation of the different clusters in the form of strip plots

- Use the code below:

```python
data['constant'] = 'constant'

for num in range(0,17):
    ax = plt.subplot(5,4,num+1)
    col = df.columns[num]
    sns.stripplot(data['constant'], data[col], ax=ax, hue=data['label'])
    plt.xlabel('constant')

```

- Comment the result

In [68]:
# Your code here

## Exercise 3: Finite difference method

We consider the transport equation, given by:
\begin{eqnarray}
\frac{\partial u}{\partial t} + c \frac{\partial u}{\partial x} = 0 \, \, \, \, \, \, (1)
\end{eqnarray}


- Our initial condition for this problem is going to be:

\begin{eqnarray}
u &=& 5 * \exp  \bigg(\frac{(x - 1)}{\sigma^2} \bigg) \, \, \, \sigma = 0.01
\end{eqnarray}


- This has an analytical solution, given by:

\begin{eqnarray}
u &=& 5 * \exp  \bigg(\frac{(x -c*t) -1 }{\sigma^2} \bigg) \, \, \, \sigma = 0.01
\end{eqnarray}

1- Using the finite difference scheme discretize the equation (1), and implement the python code (use numba for accelerating code).

In [69]:
# Your code here

2-  Implement the analytical solution using sympy library

In [70]:
# Your code here

3- Compare the Analytical solution and the approximated solution computed on the first question.

```python
###variable declarations
nx = 400
nt = 150
```
- Use the CFL condition to define dt.

- Expected result:
<img src="data/AppvsAnalytic.png" alt="Drawing" style="width: 500px;"/>

In [71]:
# Your code here

4- Compare the cpu time of both numba function and python function.

In [72]:
# Your code here

## Exercise 4: Performance Tools

#### Overview
Monte Carlo methods, or Monte Carlo experiments, are a broad class of computational algorithms that rely on repeated random sampling to obtain numerical results. The underlying concept is to use randomness to solve problems that might be deterministic in principle.

In this Exercise we are going to calculate the probability of getting six eyes at least n times, using **Monte Carlo Simulation**.
For example, if m=5 (times of throwing a dice) and n=3, this is the same as asking for the probability that three or more out of five dice show six eyes.
<img src="data/dices.webp" alt="dices" style="width: 500px;"/>

The probability can be estimated by Monte Carlo simulation. We simulate the process a large number of times, N, and count how many times, M, the experiment turned out successfully, i.e., when we got at least n out of m dice with six eyes in a throw.

1. Implement the following algorithm of Monte Carlo Simulation using python language.
```
Function dice_6
    Pass In: N, ndices, nsix
    M = 0                       # no of successful events
    for i = 0 to n; do:             # repeat N experiments
        six = 0                 # how many dice with six eyes?
        for j = 0 to ndice; do:
            r = random[1 .. 6]  # roll die no. j
            if r == 6
            then
               six = six + 1
            endif
        enddo
        if six >= nsix         # successful event?
        then
            M += 1
        endif
    enddo 
    p = M / N
    Pass Out: p
Endfunction
```

In [73]:
# Your code here

2. Now. let time our function with the example above. call your `dice_6` function with:
    N = 10<sup>5</sup>, ndices = 5, nsix = 3.

In [74]:
# Your code here

3. The example above takes a long time, try to optimize your code by vecotryzing your code using numpy library.
    
    * **Note**: *one of the optimization you can use, is to generate all random numbers at once, and store them into a matrix of size (N, ndices), where each row of the matrix corresponds to one Monte Carlo experiment.*

In [75]:
# Your code here

4. Now, try to optimize `dice_6` function using one of your choice `Cython` or `Numba`.

In [76]:
# Your code here

5. Time the different optimizations, and compare the efficiency of our implementation, run the experiments with `ndice = 6`, `nsix = 3` and for a five experiments using a large number `N`.

In [77]:
# Your code here

6. Plot the benchmark timing average of each method into an histogram (Python naive, Python Vectorized, Cython/Numba).

In [78]:
# Your code here